---
layout: page
title: Archive
permalink: /blog/archive
---

<div>

  <section class="archive-list">
    {% assign sorted_posts = (site.posts | sort: "date") %}
    {% for post in sorted_posts reversed %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}<hr>{% endunless %}
        <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
        <span class="post-date">{{ post.date | date: "%-d %b, %Y" }}</span>
      </div>
    {% endfor %}
  </section>

</div>

